@import 'hljs-monokai.css';

* {
}

html, body {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
}

.heading {
    font-size: 2em;
    padding: 5px;
    color: #222;
    font-weight: 300;
}

.heading .status {
    float: right;
}

.sub-heading {
    background-color: #fafafa;
    padding: 3px;
    color: #333;
    padding: 3px;
    text-align: right;
    font-size: 0.75em;
}

.test {
    padding: 5px;
    color: white;
    border-bottom: 1px solid white;
}

.pending {
    background-color: orange;
}

.passed {
    background-color: rgb(126, 206, 126);
}

.failed {
    background-color: rgb(240, 0, 0);
}

.test h1 {
    margin: 0;
    font-size: 1.25em;
    font-weight: 300;
}

.test.passed {
    display: inline-block;
    font-size: 0.75em;
    border: 1px solid white;
}

.trace-anchor a {
  color: white;
  line-height: 5px;
  margin: 0;
  padding: 0;
}
