# http://blog.travis-ci.com/2014-12-17-faster-builds-with-container-based-infrastructure/
sudo: false

addons:
  sauce_connect: true
  hosts:
    - airtap.local

language: node_js

node_js:
  - 10
  - 9
  - 8
  - 6

before_script:
  - export DISPLAY=:99.0 && sh -e /etc/init.d/xvfb start && sleep 3

script:
  - npm test

notifications:
  email:
    recipients:
      - airtap.org@gmail.com